---
// Header for small and medium devices
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import sluugOrgLogo from "@/images/SLUUG-Logo.png";
import sluugOrgWhiteLogo from "@/images/SLUUG-Logo-White.png";
import stllugLogo from "@/images/STLLUG-Logo.png";
import { SLUUG_LOGO_ALT, STLLUG_LOGO_ALT } from "@/constants";
---

<nav class="bg-bg_emphasis-light dark:bg-bg_emphasis mb-2">
    <div class="w-full flex justify-center">
        <div class="h-16 w-full flex items-center">
            <div class="w-full flex flex-row items-center justify-between">
                <a class="text-black" href="/">
                    <Icon name="mdi:home" size={50} class="ml-2" />
                </a>
                <a href="/meetings/sluug/1" class="dark:hidden block">
                    <Image src={sluugOrgLogo} alt={SLUUG_LOGO_ALT} width="55" loading="lazy" decoding="async" />
                </a>
                <a href="/meetings/sluug/1" class="dark:block hidden">
                    <Image src={sluugOrgWhiteLogo} alt={SLUUG_LOGO_ALT} width="55" loading="lazy" decoding="async" />
                </a>
                <a href="/meetings/stllug/1">
                    <Image src={stllugLogo} alt={STLLUG_LOGO_ALT} width="70" loading="lazy" decoding="async" />
                </a>
                <button
                    aria-label="Navigation links"
                    aria-controls="sidenav"
                    aria-haspopup="menu"
                    aria-expanded="false"
                    role="button"
                >
                    <Icon id="hamburger" name="mdi:hamburger-menu" size={50} class="mr-2" />
                </button>
            </div>
        </div>
    </div>
    <div
        id="sidenav"
        role="navigation"
        aria-hidden="true"
        class="fixed top-0 right-0 h-full w-40 mt-14 bg-bg_alt-light dark:bg-bg_emphasis overflow-auto z-50 transform translate-x-full transition-transform
    duration-200"
        style="display: none;"
    >
        <ul class="w-full flex flex-col items-center mt-6">
            <li class="text-xl font-bold mb-4">
                <a class="no-underline" href="/">Home</a>
            </li>
            <li class="text-xl font-bold mb-4">
                <a class="no-underline" href="/about/">About</a>
            </li>
            <li class="text-xl font-bold mb-4">
                <a class="no-underline" href="/presenters/">Presenters</a>
            </li>
            <li class="text-xl font-bold mb-4">
                <a class="no-underline" href="/resources/">Resources</a>
            </li>
            <li class="text-xl font-bold mb-4">
                <a class="no-underline" href="/tags/">Tags <Icon name="mdi:search" size={30} class="inline" /></a>
            </li>
        </ul>
    </div>
    <script>
        document.addEventListener("astro:page-load", () => {
            document.getElementById("hamburger")!.addEventListener("click", function () {
                const sidenav = document.getElementById("sidenav")!;
                const menuButton = document.querySelector('button[aria-label="Menu"]')!;
                if (sidenav.style.display === "none" || sidenav.style.transform === "translateX(100%)") {
                    sidenav.style.display = "block";
                    sidenav.style.transform = "translateX(0)";
                    sidenav.ariaHidden = "false";
                    menuButton.ariaExpanded = "true";
                } else {
                    sidenav.style.transform = "translateX(100%)";
                    sidenav.ariaHidden = "true";
                    menuButton.ariaExpanded = "false";
                    setTimeout(function () {
                        sidenav.style.display = "none";
                    }, 200); // hide after slide animation is done
                }
            });
        });
        let outside = true;
        document.addEventListener("click", function (event: MouseEvent) {
            const sidenav = document.getElementById("sidenav")!;
            const isClickInsideSidemenu = sidenav.contains(event.target as Node);
            const isClickInsideHamburger = document.getElementById("hamburger")!.contains(event.target as Node);

            if (isClickInsideHamburger) {
                outside = false;
            }
            if (!isClickInsideSidemenu && !isClickInsideHamburger && outside) {
                sidenav.style.transform = "translateX(100%)";
                setTimeout(function () {
                    sidenav.style.display = "none";
                }, 200); // hide after slide animation is done
            }
            outside = true;
        });
    </script>
</nav>
