---
import { getCollection } from 'astro:content';
import MeetingListing from '@/components/MeetingListing.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { sortMeetingListByMeetingDate } from '@/buildTimeUtils';

export async function getStaticPaths() {
    const allMeetings = await getCollection('meetings');
    const uniqueTags = [
        ...new Set([
            ...allMeetings
                .map((meeting) => meeting.data.presentations.map((presentation) => presentation.tags))
                .flat()
                .flat(),
        ]),
    ];
    return uniqueTags.map((tag) => {
        const filteredPosts = sortMeetingListByMeetingDate(
            allMeetings.filter((meeting) =>
                meeting.data.presentations.some((presentation) => presentation.tags.includes(tag)),
            ),
        );
        return {
            params: { tag },
            props: { meetings: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { meetings } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p data-pagefind-ignore>Presentations tagged with: <strong>{tag}</strong></p>
    <ul>
        {
            meetings.map((meeting: any) => (
                <MeetingListing
                    url={`/meetings/${meeting.id}/`}
                    meetingType={meeting.data.meetingType}
                    meetingDate={meeting.data.meetingDate}
                    presentations={meeting.data.presentations}
                    images={meeting.data.images}
                    meetupUrl={meeting.data.meetupUrl}
                    youtubeUrl={meeting.data.youtubeUrl}
                />
            ))
        }
    </ul>
</BaseLayout>
