---
import { sortMeetingListByMeetingDate } from "@/buildTimeUtils";
import MeetingCardHorizontal from "@/components/MeetingCardHorizontal.astro";
import MeetingCardVertical from "@/components/MeetingCardVertical.astro";
import Pagination from "@/components/Pagination.astro";
import SluugAgenda from "@/components/SluugAgenda.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
    const sluugMeetings = sortMeetingListByMeetingDate(
        await getCollection("meetings", ({ data }) => {
            return data.meetingType === "SLUUG";
        })
    );
    return paginate(sluugMeetings, { pageSize: 12 });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const pageTitle = "SLUUG - St. Louis Unix Users Group";

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    {
        page.currentPage === 1 && (
            <>
                <>
                    <h2>St. Louis Unix Users Group</h2>
                    <p>
                        The <em>St. Louis Unix Users Group (SLUUG)</em> meets on the <strong>second Wednesday</strong>{" "}
                        of each month. The meeting begins at 6:30p.m. Central Time.
                    </p>
                    <SluugAgenda />
                </>
                <h2>SLUUG Meetings</h2>
                <div class="flex flex-wrap lg:hidden">
                    {page.data.map(
                        (
                            {
                                collection,
                                id,
                                data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl },
                            },
                            i
                        ) => (
                            <MeetingCardVertical
                                key={i}
                                url={`/${collection}/${id}/`}
                                meetingType={meetingType}
                                meetingDate={meetingDate}
                                presentations={presentations}
                                image={image}
                                meetupUrl={meetupUrl}
                                youtubeUrl={youtubeUrl}
                            />
                        )
                    )}
                </div>
                <div class="hidden lg:block">
                    {page.data.map(
                        (
                            {
                                collection,
                                id,
                                data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl },
                            },
                            i
                        ) => (
                            <MeetingCardHorizontal
                                key={i + 1000}
                                url={`/${collection}/${id}/`}
                                meetingType={meetingType}
                                meetingDate={meetingDate}
                                presentations={presentations}
                                image={image}
                                meetupUrl={meetupUrl}
                                youtubeUrl={youtubeUrl}
                            />
                        )
                    )}
                </div>
                <Pagination url={page.url} currentPage={page.currentPage} lastPage={page.lastPage} />
            </>
        )
    }
</BaseLayout>
