---
import { sortMeetingListByMeetingDate } from "@/buildTimeUtils";
import MeetingCardHorizontal from "@/components/MeetingCardHorizontal.astro";
import MeetingCardVertical from "@/components/MeetingCardVertical.astro";
import Pagination from "@/components/Pagination.astro";
import { baseUrl, STLLUG_LOGO_ALT } from "@/constants";
import stllugLogo from "@/images/STLLUG-Logo.png";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
    const allMeetings = sortMeetingListByMeetingDate(await getCollection("meetings"));
    return paginate(allMeetings, { pageSize: 6 });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const pageTitle = "Stl Linux Unix Users Group";

const { page } = Astro.props;
---

<head>
    <meta name="twitter:card" content="player" />
    <meta property="twitter:image" content={baseUrl + stllugLogo.src} />
    <meta property="og:url" content={baseUrl + Astro.url.pathname} />"
    <meta property="og:image" content={baseUrl + stllugLogo.src} />
    <meta property="og:image:alt" content={baseUrl + STLLUG_LOGO_ALT} />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:title" content="Stl Linux Unix Users Group Meetings" />
    <meta
        property="og:description"
        content={"The Stl Linux Unix Users Group holds regular meetings with technical presentations and discussions. Our topics frequently involve Unix, Unix-like Operating Systems, Linux, BSD, and other..."}
    />
</head>

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-center lg:hidden m-0">Stl Linux Unix Users Group</h1>
    {
        page.currentPage === 1 && (
            <p class="mb-6">
                The Stl Linux Unix Users Group holds regular meetings with technical presentations and discussions. Our
                topics frequently involve Unix, Unix-like Operating Systems, Linux, BSD, and other Free and Open Source
                Software (FOSS) applications, products, projects and services. All of our meetings are free and open to
                the public.
            </p>
        )
    }
    <div class="flex flex-wrap lg:hidden">
        {
            page.data.map(
                (
                    { collection, id, data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl } },
                    i
                ) => (
                    <MeetingCardVertical
                        key={i}
                        url={`/${collection}/${id}/`}
                        meetingType={meetingType}
                        meetingDate={meetingDate}
                        presentations={presentations}
                        image={image}
                        meetupUrl={meetupUrl}
                        youtubeUrl={youtubeUrl}
                    />
                )
            )
        }
    </div>
    <div class="hidden lg:block">
        {
            page.data.map(
                (
                    { collection, id, data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl } },
                    i
                ) => (
                    <MeetingCardHorizontal
                        key={i + 1000}
                        url={`/${collection}/${id}/`}
                        meetingType={meetingType}
                        meetingDate={meetingDate}
                        presentations={presentations}
                        image={image}
                        meetupUrl={meetupUrl}
                        youtubeUrl={youtubeUrl}
                    />
                )
            )
        }
    </div>
    <Pagination url={page.url} currentPage={page.currentPage} lastPage={page.lastPage} />
    <h2 class="mt-8">
        SLUUG Calendar <a
            href="https://calendar.google.com/calendar/embed?title=SLUUG+events&height=1350&wkst=1&src=2msihq4sam6cr99ec5p0e0viv8@group.calendar.google.com&color=%2329527A&src=9526deac063a56a7acf07a9c7d8362da769ed90b11d64099608ccddbc0714bc5@group.calendar.google.com&color=%2329527A&src=p6lp304ra5bq7bga1cemg1uj74@group.calendar.google.com&color=%23A32929&ctz=America/Chicago"
            target="_blank"
            rel="noopener noreferrer"><Icon class="inline" name="mdi:open-in-new" /></a
        >
    </h2>
    <iframe
        class="mb-8 w-full h-[50rem]"
        src="https://calendar.google.com/calendar/embed?title=SLUUG+events&height=1350&wkst=1&src=2msihq4sam6cr99ec5p0e0viv8@group.calendar.google.com&color=%2329527A&src=9526deac063a56a7acf07a9c7d8362da769ed90b11d64099608ccddbc0714bc5@group.calendar.google.com&color=%2329527A&src=p6lp304ra5bq7bga1cemg1uj74@group.calendar.google.com&color=%23A32929&ctz=America/Chicago"
    >
    </iframe>
</BaseLayout>
