---
import { sortMeetingListByMeetingDate } from "@/buildTimeUtils";
import MeetingCardHorizontal from "@/components/MeetingCardHorizontal.astro";
import MeetingCardVertical from "@/components/MeetingCardVertical.astro";
import Pagination from "@/components/Pagination.astro";
import SluugCalendar from "@/components/SluugCalendar.astro";
import { STLLUG_LOGO_ALT } from "@/constants";
import stllugLogo from "@/images/STLLUG-Logo.png";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
    const allMeetings = sortMeetingListByMeetingDate(await getCollection("meetings"));
    return paginate(allMeetings, { pageSize: 6 });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const pageTitle = "Stl Linux Unix Users Group";

const { page } = Astro.props;
---

<head>
    <meta name="twitter:card" content="player" />
    <meta property="twitter:image" content={Astro.site + stllugLogo.src} />
    <meta property="og:image" content={Astro.site + stllugLogo.src} />
    <meta property="og:image:alt" content={Astro.site + STLLUG_LOGO_ALT} />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:title" content="Stl Linux Unix Users Group Meetings" />
    <meta
        property="og:description"
        content={"The Stl Linux Unix Users Group holds regular meetings with technical presentations and discussions. Our topics frequently involve Unix, Unix-like Operating Systems, Linux, BSD, and other..."}
    />
</head>

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-center lg:hidden m-0">Stl Linux Unix Users Group</h1>
    {
        page.currentPage === 1 && (
            <p class="mb-6">
                The Stl Linux Unix Users Group holds regular meetings with technical presentations and discussions. Our
                topics frequently involve Unix, Unix-like Operating Systems, Linux, BSD, and other Free and Open Source
                Software (FOSS) applications, products, projects and services. All of our meetings are free and open to
                the public.
            </p>
        )
    }
    <div class="flex flex-wrap lg:hidden">
        {
            page.data.map(
                (
                    { collection, id, data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl } },
                    i
                ) => (
                    <MeetingCardVertical
                        key={i}
                        url={`/${collection}/${id}/`}
                        meetingType={meetingType}
                        meetingDate={meetingDate}
                        presentations={presentations}
                        image={image}
                        meetupUrl={meetupUrl}
                        youtubeUrl={youtubeUrl}
                    />
                )
            )
        }
    </div>
    <div class="hidden lg:block">
        {
            page.data.map(
                (
                    { collection, id, data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl } },
                    i
                ) => (
                    <MeetingCardHorizontal
                        key={i + 1000}
                        url={`/${collection}/${id}/`}
                        meetingType={meetingType}
                        meetingDate={meetingDate}
                        presentations={presentations}
                        image={image}
                        meetupUrl={meetupUrl}
                        youtubeUrl={youtubeUrl}
                    />
                )
            )
        }
    </div>
    <Pagination url={page.url} currentPage={page.currentPage} lastPage={page.lastPage} />
    {page.currentPage === 1 && <SluugCalendar />}
</BaseLayout>
