---
import { sortMeetingListByMeetingDate } from '@/buildTimeUtils';
import MeetingCardHorizontal from '@/components/MeetingCardHorizontal.astro';
import MeetingCardVertical from '@/components/MeetingCardVertical.astro';
import PresenterLayout from '@/layouts/PresenterLayout.astro';
import type { InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const presenterEntries = await getCollection('presenters');
    return presenterEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { entry } = Astro.props;
const { Content } = await entry.render();

const meetings = sortMeetingListByMeetingDate(
    await getCollection('meetings', ({ data }) => {
        return data.presentations.some((presentation) =>
            presentation.presenterNames.includes(entry.data.presenterName),
        );
    }),
);
---

<PresenterLayout presenterName={entry.data.presenterName} lastUpdated={entry.data.lastUpdated}>
    <Content />

    <h2>Presentations</h2>
    <div class="flex flex-wrap lg:hidden">
        {
            meetings.map(
                (
                    { collection, id, data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl } },
                    i,
                ) => (
                    <MeetingCardVertical
                        key={i}
                        url={`/${collection}/${id}/`}
                        meetingType={meetingType}
                        meetingDate={meetingDate}
                        presentations={presentations}
                        image={image}
                        meetupUrl={meetupUrl}
                        youtubeUrl={youtubeUrl}
                    />
                ),
            )
        }
    </div>
    <div class="hidden lg:block">
        {
            meetings.map(
                (
                    { collection, id, data: { meetingDate, meetingType, presentations, image, meetupUrl, youtubeUrl } },
                    i,
                ) => (
                    <MeetingCardHorizontal
                        key={i + 1000}
                        url={`/${collection}/${id}/`}
                        meetingType={meetingType}
                        meetingDate={meetingDate}
                        presentations={presentations}
                        image={image}
                        meetupUrl={meetupUrl}
                        youtubeUrl={youtubeUrl}
                    />
                ),
            )
        }
    </div>
</PresenterLayout>
