---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import MeetingListing from '../components/MeetingListing.astro';
import { sortMeetingListByMeetingDate } from '../buildTimeUtils';

const allMeetings = sortMeetingListByMeetingDate(await getCollection('meetings'));
const pageTitle = 'St. Louis Unix Users Group';
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-center lg:hidden">St. Louis</h1>
    <h1 class="text-center lg:hidden">Unix & Linux</h1>
    <h1 class="text-center lg:hidden">User Groups</h1>
    <p class="mb-6">
        The St. Louis Unix and Linux User Groups hold regular meetings with technical presentations and discussions. Our topics frequently involve Unix, Unix-like Operating Systems, Linux, BSD, and other Free and Open Source Software (FOSS) applications, products, projects and services. All of our meetings are free and open to the public.
    </p>
    {
        allMeetings.map((meeting) => (
            <MeetingListing
                url={`/meetings/${meeting.slug}/`}
                meetingType={meeting.data.meetingType}
                meetingDate={meeting.data.meetingDate}
                main={meeting.data.main}
                base={meeting.data.base}
                meetupUrl={meeting.data.meetupUrl}
                youtubeUrl={meeting.data.youtubeUrl}
            />
        ))
    }
</BaseLayout>
