---
import {Image} from 'astro:assets';
import {Icon} from 'astro-icon/components';
import sluugOrgLogo from '../images/SLUUG-Logo.png'
import stllugLogo from '../images/STLLUG-Logo.png'
---

<header class="w-full">
    <div class="w-full hidden lg:flex items-center justify-evenly py-6">
        <div class="w-[100ch] flex items-center justify-between">
            <a href="/sluug">
                <Image src={sluugOrgLogo} alt="SLUUG Org Logo" width="80" loading="lazy" decoding="async"/>
            </a>
            <h1>St. Louis Unix/Linux User Groups</h1>
            <a href="/stllug">
                <Image src={stllugLogo} alt="STLLUG Logo" width="100" loading="lazy" decoding="async"/>
            </a>
        </div>
    </div>
    <nav class="bg-slate-200 mb-2">
        <div class="w-full flex justify-center">
            <div class="h-16 w-full lg:w-[100ch] flex items-center">
                <div class="lg:hidden w-full flex flex-row items-center justify-between">
                    <a class="text-black" href="/">
                        <Icon name="mdi:home" size={40} class="ml-2"/>
                    </a>
                    <a href="/sluug">
                        <Image src={sluugOrgLogo} alt="St. Louis Unix Users Group Logo" width="60" loading="lazy" decoding="async"/>
                    </a>
                    <a href="/stllug">
                        <Image src={stllugLogo} alt="St. Louis Linux Users Group Logo" width="75" loading="lazy" decoding="async"/>
                    </a>
                    <Icon name="mdi:hamburger-menu" size={40} class="mr-2"/>
                </div>
                <ul class="hidden w-full lg:flex flex-row items-center justify-around">
                    <li class="hover:cursor-pointer text-xl font-bold">
                        <a class="no-underline" href="/">Home</a>
                    </li>
                    <li class="hover:cursor-pointer text-xl font-bold">
                        <a class="no-underline" href="/about/">About</a>
                    </li>
                    <li class="hover:cursor-pointer text-xl font-bold">
                        <a class="no-underline" href="/sluug/">SLUUG</a>
                    </li>
                    <li class="hover:cursor-pointer text-xl font-bold">
                        <a class="no-underline" href="/stllug/">STLLUG</a>
                    </li>
                    <li class="hover:cursor-pointer text-xl font-bold">
                        <a class="no-underline" href="/presenters/">Presenters</a>
                    </li>
                    <li class="hover:cursor-pointer text-xl font-bold">
                        <a class="no-underline" href="/tags/">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
