---
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { getMeetingImage } from '../buildTimeUtils';
import { type Presentation, type MeetingType } from '../models';
interface Props {
    url: string;
    meetingType: MeetingType;
    meetingDate: Date;
    main: Presentation;
    base?: Presentation;
    meetupUrl?: string;
    youtubeUrl?: string;
}
const { url, meetingType, meetingDate, main, base, meetupUrl, youtubeUrl } = Astro.props;
const meetingImage = getMeetingImage(meetingType);
---

<div class="flex items-start mb-4 rounded shadow-lg">
    <div class="w-1/4">
        <Image src={meetingImage.url} alt={meetingImage.alt} height="150" width="170" loading="lazy" decoding="async"/>
    </div>
    <div class="w-3/4 pl-4">
        <p class="text-gray-600 text-md mb-0">
            {meetingDate.toLocaleDateString('default', { month: 'long', day: '2-digit', year: 'numeric' })}
        </p>
        <a href={url}><h4 class="font-bold text-lg mb-1"><strong>Main: </strong>{main.title}</h4></a>
        <p>By: {main.presenter}</p>
        {
            base && (
                <>
                    <h4 class="font-bold text-lg mb-1 mt-2">
                        <strong>Base: </strong>
                        {base.title}
                    </h4>
                    <p>By: {base.presenter}</p>
                </>
            )
        }
        {youtubeUrl && <>
            <a href={youtubeUrl}><Icon name="mdi:youtube" class="inline" />YouTube</a>
        </>}
                {meetupUrl &&
            <a href={meetupUrl}><Icon name="mdi:meetup" class="inline" />Meetup</a>
            }
    </div>
</div>
