---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { getMeetingImage } from '@/buildTimeUtils';
import { type Meeting } from '@/models';
type Props = { url: string } & Meeting;

const { url, meetingType, meetingDate, main, base, meetupUrl, youtubeUrl } = Astro.props;
const meetingImage = getMeetingImage(meetingType);
---

<div class="flex items-start mb-4 rounded shadow-lg">
    <div class="w-1/4">
        <Image src={meetingImage.src} alt={meetingImage.alt} height="180" width="180" loading="lazy" decoding="async" />
    </div>
    <div class="w-3/4 pl-4">
        <p class="text-gray-600 text-md mb-0">
            {meetingDate.toLocaleDateString('default', { month: 'long', day: '2-digit', year: 'numeric' })}
        </p>
        <a href={url}><h4 class="font-bold text-lg mb-1"><strong>Main: </strong>{main.title}</h4></a>
        <p>
            By:
            {main.presenterNames.join(' & ')}
        </p>
        {
            base && (
                <>
                    <h4 class="font-bold text-lg mb-1 mt-2">
                        <strong>Base: </strong>
                        {base.title}
                    </h4>
                    <p>
                        By:
                        {base.presenterNames.join(' & ')}
                    </p>
                </>
            )
        }
        {
            youtubeUrl && (
                <>
                    <a href={youtubeUrl}>
                        <Icon name="mdi:youtube" class="inline" />
                        YouTube
                    </a>
                </>
            )
        }
        {
            meetupUrl && (
                <a href={meetupUrl}>
                    <Icon name="mdi:meetup" class="inline" />
                    Meetup
                </a>
            )
        }
    </div>
</div>
