---
import { getDisplayDate } from '@/buildTimeUtils';
import type { Meeting } from '@/content/config';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
type Props = { url: string } & Meeting;

const { url, meetingDate, presentations, meetupUrl, image, youtubeUrl } = Astro.props;
// TODO: Fix this hack
const main = presentations[0];
const base = presentations[1];
---

<div class="flex items-start mb-4 rounded shadow-lg">
    <div class="w-1/4">
        <Image src={image.src} alt={image.alt} height="240" width="240" loading="lazy" decoding="async" />
    </div>
    <div class="w-3/4 pl-4">
        <p class="text-gray-600 text-md mb-0">
            {getDisplayDate(meetingDate)}
        </p>
        <a href={url}><h4 class="font-bold text-lg mb-1"><strong>Main: </strong>{main.title}</h4></a>
        <p>
            By:
            {main.presenterNames.join(' & ')}
        </p>
        {
            base && (
                <>
                    <h4 class="font-bold text-lg mb-1 mt-2">
                        <strong>Base: </strong>
                        {base.title}
                    </h4>
                    <p>
                        By:
                        {base.presenterNames.join(' & ')}
                    </p>
                </>
            )
        }
        {
            youtubeUrl && (
                <>
                    <a href={youtubeUrl}>
                        <Icon name="mdi:youtube" class="inline" />
                        YouTube
                    </a>
                </>
            )
        }
        {
            meetupUrl && (
                <a href={meetupUrl}>
                    <Icon name="mdi:meetup" class="inline" />
                    Meetup
                </a>
            )
        }
    </div>
</div>
