---
import { Icon } from "astro-icon/components";

interface Props {
    url: { current: string; prev: string | undefined; next: string | undefined };
    currentPage: number;
    lastPage: number;
}

const { url, lastPage, currentPage } = Astro.props;

const segments = url.current.split("/").filter((segment) => segment.length > 0);
segments.pop(); // Remove the last segment
const firstPageUrl = `/${segments.join("/")}/1`;
let lastPageUrl = `/${segments.join("/")}/${lastPage}`;
---

<div class="flex-row justify-evenly mb-4">
    <ul class="flex flex-row w-full justify-evenly">
        <li>
            {
                url.prev ? (
                    <a href={firstPageUrl} aria-label="Go to first page" title="Go to first page">
                        <Icon name="mdi:arrow-collapse-left" size={25} />
                    </a>
                ) : null
            }
        </li>
        <li>
            {
                url.prev ? (
                    <a href={url.prev} aria-label="Go to previous page" title="Go to previous page">
                        <Icon name="mdi:arrow-left" size={25} />
                    </a>
                ) : null
            }
        </li>
        <li>{currentPage} of {lastPage}</li>
        <li>
            {
                url.next ? (
                    <a href={url.next} aria-label="Go to next page" title="Go to next page">
                        <Icon name="mdi:arrow-right" size={25} />
                    </a>
                ) : null
            }
        </li>
        <li>
            {
                url.next ? (
                    <a href={lastPageUrl} aria-label="Go to last page" title="Go to last page">
                        <Icon name="mdi:arrow-collapse-right" size={25} />
                    </a>
                ) : null
            }
        </li>
    </ul>
</div>
