---
import { Icon } from "astro-icon/components";

interface Props {
    url: { current: string; prev: string | undefined; next: string | undefined };
    currentPage: number;
    lastPage: number;
}

const { url, lastPage, currentPage } = Astro.props;

const firstPageUrl = url.current.slice(0, -1) + "1";
const lastPageUrl = url.current.slice(0, -1) + lastPage;
---

<div class="flex-row justify-evenly mb-4">
    <ul class="flex flex-row w-full justify-evenly">
        <li>
            {
                url.prev ? (
                    <a href={firstPageUrl}>
                        <Icon name="mdi:arrow-collapse-left" size={25} />
                    </a>
                ) : null
            }
        </li>
        <li>
            {
                url.prev ? (
                    <a href={url.prev}>
                        <Icon name="mdi:arrow-left" size={25} />
                    </a>
                ) : null
            }
        </li>
        <li>{currentPage} of {lastPage}</li>
        <li>
            {
                url.next ? (
                    <a href={url.next}>
                        <Icon name="mdi:arrow-right" size={25} />
                    </a>
                ) : null
            }
        </li>
        <li>
            {
                url.next ? (
                    <a href={lastPageUrl}>
                        <Icon name="mdi:arrow-collapse-right" size={25} />
                    </a>
                ) : null
            }
        </li>
    </ul>
</div>
