---
import {Image} from 'astro:assets';
import type { MeetingYaml } from '@/models';
import BaseLayout from '@/layouts/BaseLayout.astro';
import MeetingTitle from '@/components/MeetingTitle.astro';
import { getMeetingName, getMeetingImage } from '@/buildTimeUtils';
type Props = MeetingYaml;

const { meetingType, meetingDate, meetupUrl, youtubeUrl, main, base } = Astro.props;
const meetingName = getMeetingName(meetingType);
const meetingImage = getMeetingImage(meetingType);
const regex = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]+).*/
const vidId = youtubeUrl?.match(regex)?.[1]
---

<BaseLayout pageTitle=`${meetingType} - ${meetingDate.toDateString().slice(4)}`>
    <MeetingTitle meetingName={meetingName} meetingDate={meetingDate} } />
    {
        youtubeUrl ? (
                <iframe
                    width="560"
                    height="315"
                    src=`https://www.youtube-nocookie.com/embed/${vidId}`
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                />
        ) : (
                <Image src={meetingImage.src} alt={meetingImage.alt}  height="180" width="180" loading="lazy" decoding="async"/>
        )
    }
    <p>{main.title}</p>
    <p>{main.presenterNames}</p>
    <p>{main.abstract}</p>
    { 
        base ? (
                <p>{base.title}</p>
                <p>{base.presenterNames}</p>
                <p>{base.abstract}</p>
            ) : null
    }
    <slot />
</BaseLayout>

<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
